<h3>{{comment.title}}</h3>
<p>{{comment.commentText}}</p>
<p>Comment by: {{comment.name}}</p>

{{comment-update post=post comment=comment updateComment="updateComment"}}
{{comment-delete comment=comment deleteComment="deleteComment"}}
