<div class="search_thumbnail col-md-6">
    {{#if isShowing}}
      <form>
        <div class="form-group">
          <label for="title">Title:</label>
          {{input type="text" value=title class="form-control" placeholder="e.g. My First Post!"}}
        </div>
        <div class="form-group">
          <label for="author">Author:</label>
          {{input type="text" value=author class="form-control" placeholder="your name"}}
        </div>
        <div class="form-group">
          <label for="body">Body:</label>
          {{textarea value=body class="form-control" placeholder="your post"}}
        </div>
        <div class="right-button">
          <button {{action "hideForm"}} class="btn btn-sm">Close</button>
        </div>
        <div class="center">
          <button {{action "addPost" gif}} class="btn btn-sm">Add!</button>
        </div>
      </form>
    {{else}}
    <div class="search_img_display">
      <img src={{gif.image}} alt="gif search result">
    </div>
      <button {{action 'showForm'}} class="btn btn-sm">Post this gif!</button>
    {{/if}}
</div>
