<div class="image-large">
  <img src={{model.img_link}} alt={{model.title}}/>
  <h4>By: {{model.author}}</h4>
</div>
<h2>{{model.title}}</h2><br>
<p>
{{model.body}}
</p>
<div class="center">
{{delete-post post=model deletePost="deletePost"}}<br>
{{update-post post=model updatePost="updatePost"}}
</div>
