<div class="image-large">
  <img src={{model.post.img_link}} alt={{model.post.title}}/>
  <h4>By: {{model.post.author}}</h4>
</div>
<h2>{{model.post.title}}</h2><br>
<p>
{{model.post.body}}
</p>
{{#each model.post.comments as |comment|}}
  {{comment-display post=model.post comment=comment updateComment="updateComment"}}
{{/each}}
<!-- List comments -->
{{new-comment addComment="addComment" post=model.post}}
<div class="center">
{{delete-post post=model.post deletePost="deletePost"}}<br>
{{update-post post=model.post updatePost="updatePost"}}
</div>
